/* light mode colors */
:root {
  --primary: #ffffff;
  --gradient: linear-gradient(45deg, rgb(188, 252, 190), rgb(255, 255, 255));
  --headerfooter: rgba(155, 255, 102, 0.753);
  --green: #0c691a;
  --font: black;
}
/* dark mode colors */
.dark-theme {
  --primary: black;
  --gradient: linear-gradient(45deg, rgb(50, 46, 46), rgb(2, 2, 2));
  --headerfooter: rgba(146, 193, 252, 0.753);
  --green: rgb(193, 192, 192);
  --font: white;
}

/* default browser style for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* ini biar gaada garis kecil disetiap sebelah 3 icon */
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background-image: var(--gradient);
  color: var(--font);
  display: flex;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f4f4f4;
  /* ini buat panjang websitenya */
  min-height: 700px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: var(--headerfooter);
  border-bottom: 1 px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: transform 0.5s; /*buat hidden navbar smooth*/
}

/* ini besar kecil navbar laptop view */
.nav--hidden {
  transform: translateY(-150px); /* besar si navbarnya sbnrnya gatau brp lol */
}

/* logo */
.navbar .navbar-logo img {
  width: 100px;
  max-width: 100%;
  height: auto;
}

/* navbar center */
.navbar .navbar-nav a {
  color: var(--green);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

/* while hovering text in navbar center */
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

/* appears animation below text */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
  backdrop-filter: blur(32px);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

/* responsive navbar */
.navbar .navbar-nav-extra a {
  color: var(--font);
  margin: 0.5rem;
}
/* animation while hovering responsive navbar text  */
.navbar .navbar-nav-extra a:hover {
  color: var(--font);
}

#hamburger-menu {
  display: none;
}

/* challenge generator */

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  background-color: rgba(106, 255, 26, 0.753);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgba(155, 255, 102, 0.753);
}
/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar .navbar-logo {
    max-width: 120px;
  }

  /* munculin hamburger menu */
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--green);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    backdrop-filter: blur(32px);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5 rem;
    padding: 1 rem;
    font-size: 3rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .hero .content h3 {
    font-size: 20px;
  }

  .footer {
    font-size: 0.9rem;
    padding: 1rem 0.5rem;
  }
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

/* popup section */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.normal-text {
  font-weight: normal;
}

#challenge-text {
  font-size: 20px;
  font-weight: bold;
}

.close-btn {
  margin: 0 auto;
  display: block;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.close-btn:hover {
  background-color: #d32f2f;
}

.loader {
  border: 6px solid;
  width: 60px;
  height: 60px;
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#generate-btn {
  display: inline-block;
}

#loading-spinner {
  display: inline-block;
  margin-top: 10px;
}
/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .navbar .navbar-logo {
    max-width: 100px;
  }
  .hero .content h3 {
    font-size: 20px;
  }
  .footer {
    font-size: 0.8rem;
    padding: 0.8rem 0.5rem;
  }
}
